<header>
  <a href="">
    <div class="logo-inner"></div>
    <img src="http://quin.in/angular-hn/assets/images/logo.svg" alt="Logo" class="logo">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerlink="news/1" routerLinkActive="active">Angular HN</a>
      </h1>
      <nav>
        <a routerlink="newest/1" routerLinkActive="active">new</a>
        <span>|</span>
        <a routerlink="show/1" routerLinkActive="active">show</a>
        <span>|</span>
        <a routerlink="ask/1" routerLinkActive="active">ask</a>
        <span>|</span>
        <a  routerlink="jobs/1" routerLinkActive="active">jobs</a>
      </nav>
    </div>
  </div>

</header>